{% extends "base.html" %}

{% block content %}
<div class="wrapper">
<!-- aside -->
<aside>
<h2><span>Wylogowywanie</span></h2>
<!-- .news -->
<br>
Tutaj możesz zalogować się do Systemu Zarzadzania Składkami Hufca ZHP Orneta.<br>
Logowanie dostępne tylko dla Drużynowych.<br>

Jeśli nie pamiętasz hasła skontaktuj się z: mariusz.pisz@zhp.net.pl
<!-- /.news -->
</aside>
<!-- content -->
<section id="content">
<article>
<h2><span>System Zarządzania Składkami</span></h2>
<p>
{% if form.errors %}
<p><font color="red"><b>
Podałeś niepoprawny login lub hasło, spróbuj jeszcze raz lub skontaktuj się z administratorem!
</b></font></p>
{% endif %}

<form id="contacts-form" method="post" action="{% url django.contrib.auth.views.login %}">
{% csrf_token %}
<table>
<tr>
    <td><b>Login</b></td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
</p>
<input type="submit" value="Zaloguj!" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</article> 
</section>

</div>
{% endblock %}

