{% extends "base.html" %}

{% block content %}
<div class="wrapper">
<!-- aside -->
<aside>
<h2><span>Drużyny</span></h2>
<br>
<!-- .news -->
<ul class="leftmenu">
{% for object in object_list %}
	{% if object.slug != "kadra" %}
	<li>
	<h3><a href="{% url druzyny_view object.slug %}">{{ object.menu_name }}</a></h3>
	</li>
	{% else %}
		{% if user.is_authenticated and user.last_name  == "all" %}		
			<h3><a href="{% url druzyny_view object.slug %}">{{ object.menu_name }}</a></h3>
		{% endif %}
	{% endif %}

{% endfor %}
<br>

</ul>
<!-- /.news -->
</aside>
<!-- content -->
<section id="content">
<article>
<h2><span>{{ druzyny_detail.nazwa }}</span></h2>
<br>
<p>Za datę powstania <b>{{ druzyny_detail.nazwa }}</b> przyjmuje się <b>{{ druzyny_detail.data_utworzenia|date:" d M Y" }}</b>.
Obecnie funkcje Drużynowego w tej Drużynie pełni <b>{{ druzyny_detail.druzynowy }}</b>.<br>
<br>Miejsce zbiórek: <b>{{ druzyny_detail.mzbiorki }}</b>
<br>Czas: <b>{{ druzyny_detail.gzbiorki }}</b>
</p>

<p>{{ druzyny_detail.opis|safe }}</p>
<br>
{% if user.is_authenticated %}
	{% if user.last_name = druzyny_detail.slug or user.last_name == "all" %}
<h3><a href="{% url osoby_view druzyny_detail.slug %}">Zarządzaj</a></h3>
	{% endif %}
{% endif %}

 
</article> 
</section>

</div>
{% endblock %}

