{% extends "base.html" %}

{% block content %}
<div class="wrapper">
<!-- aside -->
<aside>
<h2><span>Osoby w Drużynie</span></h2>
<!-- .news -->
<ul class="leftmenu">
{% for object in object_list %}
<li>
<h3><a href="{% url osoby_detail object.dru.slug object.id %}">
{{ object.nazwisko }} {{ object.imie }} </a></h3>
</li>
{% endfor %}

</ul>
<!-- /.news -->
</aside>
<!-- content -->
<section id="content">
<article>
<h2><span>{{ osoby_detail.nazwa }}</span></h2>
<br>
<p>Za datę powstania <b>{{ osoby_detail.imie }}</b> przyjmuje się <b>{{ osoby_detail.data_utworzenia|date:" d M Y" }}</b>.
Obecnie funkcje Drużynowego w tej Drużynie pełni <b>{{ osoby_detail.druzynowy }}</b>.<br>
<br>Miejsce zbiórek: <b>{{ osoby_detail.mzbiorki }}</b>
<br>Godzina zbiórek: <b>{{ osoby_detail.gzbiorki }}</b>
</p>

<p>{{ osoby_detail.opis|safe }}</p>
{% if user.is_authenticated %}
<br>user: {{ user.username }}
<br>drużyna: {{ osoby_detail.dziala }}
{% if user.username = osoby_detail.dziala %}
Zarządzaj
{% endif %}
{% endif %}
</article> 
</section>

</div>
{% endblock %}

