{% extends "base.html" %}

{% block content %}
<div class="wrapper">
<!-- aside -->
	<aside>
	<h2><span>Osoby w Drużynie:</span></h2>
		<!-- .news -->
<br>
		<ul class="leftmenu">
			{% for object in object_list %}
				<li>
					<h3><a href="{% url osoby_detail object.dru.slug object.id %}">
					{{ object.nazwisko }} {{ object.imie }} </a></h3>
				</li>
			{% endfor %}
<li>
<br><br>
<hr>
<h3><a href="{% url person_search slug %}">Dodaj osobę!</a></h3>

</li>

		</ul>
		<!-- /.news -->
	</aside>
<!-- content -->
	<section id="content">
<article>
{% if show %}
<h2><span>{{ osoby_detail.imie }} {{ osoby_detail.nazwisko }}</span></h2>
<br>
<p>
	<h3>Dane: </h3>
	Imię: {{ osoby_detail.imie }} <br>
	Nazwisko: {{ osoby_detail.nazwisko }} <br>
	Pesel: {{ osoby_detail.pesel }} <br>
	Telefon: {{ osoby_detail.telefon }} <br>
	Miejsce urodzenia: {{ osoby_detail.m_urodzenia }} <br>
	Uwagi: {{ osoby_detail.uwagi }} <br>		
</p>
	<p>
	<h3>Wpłacone składki: </h3>
		<table id="skladki">
		<tr>
			<td>Wpłacona kwota</td><td>Rok</td><td>Ustalona kwota składek</td><td>Zaległości</td>
		</tr>
		{% load app_filters %}
		{% for object in skladki_detail %}
			{% if object.wplata %}
				<tr>
					<td>{{ object.wplata }}</td>
					<td>{{ object.rok }}</td>
					<td>{{ object.kwota_sk }}</td>
					<td>{{ object.kwota_sk|subtraction:object.wplata }}</td>
				</tr>
			{% endif %}
		{% endfor %}
		</table>
<br>
Administracja:
		<h3>
			<a href="{% url person_del slug osoby_detail.id %}">
			Usuń osobę z Drużyny.
			</a>
		</h3>
		<h3>
			<a href="{% url person_mod slug osoby_detail.id %}">
			Modyfikuj osobę.
			</a>
		</h3>
	</p>
{% else %}
<h2><span>Wybierz osobe do wyświetlenia.</span></h2>
<p>
<h3>Lub od razu <a href="{% url person_search slug %}">dodaj nową osobę!</a></h3>
</p>
{% endif %}
</article> 
	</section>
</div>
{% endblock %}

