{% extends "base.html" %}

{% block content %}
<div class="wrapper">
<!-- aside -->
<aside>
<h2><span></span></h2>
<!-- .news -->
<br>
<!-- /.news -->
</aside>
<!-- content -->
<section id="content">
<article>
<h2><span>Przepisanie osoby</span></h2>
<h4></h4>
<p> 
Właśnie przepisałeś osobę <b>{{ osoby_detail.imie }} {{ osoby_detail.nazwisko }}</b> do Drużyny <b> {{ druzyny_detail.nazwa }}</b>.
<br><br>
<h3>Wróć do widoku swojej Drużyny klikając <a href="{% url osoby_view slug %}">tutaj</a>.</h3>
</p>
</article> 
</section>

</div>
{% endblock %}

