{% extends "base.html" %}

{% block content %}
<div class="wrapper">
<!-- aside -->
<aside>
<h2><span>Rodzice</span></h2>
<!-- .news -->
<ul class="leftmenu">
{% for object in object_list %}
<li>
<h3><a href="{% url rodzice_view object.id %}">{{ object.title }}</a></h3>
</li>
{% endfor %}

</ul>
<!-- /.news -->
</aside>
<!-- content -->
<section id="content">
<article>
<h2><span>{{ rodzice_detail.title }}</span></h2>
<br>
<p> {{ rodzice_detail.text|safe }}</p>
</article> 
</section>

</div>
{% endblock %}

